<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Movements <small>click to edit</small></h3>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Workout Count</th>
            <th>Name</th>
            <th>Merge</th>
          </tr>
        </thead>
        <tbody>
          <% @movements.each do |m| %>
            <tr>
              <td><%= m.id %></td>
              <td><%= m.workouts.size %></td>
              <td><%= best_in_place_if current_user.admin == true, m, :name %></td>
              <td><%= link_to 'Merge Into', merge_movements_path(id: m.id), { class: 'btn btn-primary' } %>
              <td></td>
            </tr>
          <% end %>

          <%= simple_form_for @new_movement do |f| %>
              <tr>
                <td>New</td>
                <td></td>
                <td>
                  <%= f.input :name,
                              label: false,
                              placeholder: 'Name',
                              required: true,
                              input_html: { class: 'form-control'} %>
                </td>
                <td>
                  <%= f.submit 'Create Movement', class: 'btn btn-success' %>
                </td>
              </tr>
            <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
