<div class="row">
  <div class="col-xs-0 col-sm-3">
  </div>
  <div class="col-xs-12 col-sm-6">
    <div class="well">
      <%= simple_form_for :admin, url: merge_update_movements_path do |f| %>
        <h2>Merge into</h2>
        <h4><%= @movement.name %> into -></h4>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :movement_id,
                      input_html: { value: @movement.id },
                      as: :hidden %>
          <%= f.input :merge_id,
                      required: true,
                      autofocus: true,
                      label: false,
                      collection: Movement.all,
                      input_html: { class: 'form-control'} %>
                      <br>

        </div>

        <div class="form-actions">
          <%= f.button :submit, "Merge", class: 'btn btn-lg btn-warning btn-block' %>
        </div>
        <br>
      <% end %>
    </div>
  </div>
  <div class="col-xs-0 col-sm-3">
  </div>
</div>
