<!-- back_squat: nil, front_squat: nil, overhead_squat: nil, clean: nil, snatch: nil, power_clean: nil, power_snatch: nil, hang_clean: nil, hang_snatch: nil, split_jerk: nil, push_jerk: nil, push_press: nil, press: nil, dead_lift: nil -->
<div class="row">
  <div class="page-header col-md-12">
    <%= link_to 'Edit', edit_user_personal_record_path(current_user.id, current_user.id), class: 'btn btn-warning right' %>
    <h1>Personal Records</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Movement <small>(click for percentages)</small></th>
          <th>Weight <small>(in pounds)</small></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Back Squat</td>
          <td><%= if @pr.back_squat.nil? then "none" else @pr.back_squat end %></td>
        </tr>
        <tr>
          <td>Front Squat</td>
          <td><%= if @pr.front_squat.nil? then "none" else @pr.front_squat end %></td>
        </tr>
        <tr>
          <td>Overhead Squat</td>
          <td><%= if @pr.overhead_squat.nil? then "none" else @pr.overhead_squat end %></td>
        </tr>
        <tr>
          <td>Clean</td>
          <td><%= if @pr.clean.nil? then "none" else @pr.clean end %></td>
        </tr>
        <tr>
          <td>Snatch</td>
          <td><%= if @pr.snatch.nil? then "none" else @pr.snatch end %></td>
        </tr>
        <tr>
          <td>Power Clean</td>
          <td><%= if @pr.power_clean.nil? then "none" else @pr.power_clean end %></td>
        </tr>
        <tr>
          <td>Power Snatch</td>
          <td><%= if @pr.power_snatch.nil? then "none" else @pr.power_snatch end %></td>
        </tr>
        <tr>
          <td>Hang Clean</td>
          <td><%= if @pr.hang_clean.nil? then "none" else @pr.hang_clean end %></td>
        </tr>
        <tr>
          <td>Hang Snatch</td>
          <td><%= if @pr.hang_snatch.nil? then "none" else @pr.hang_snatch end %></td>
        </tr>
        <tr>
          <td>Split Jerk</td>
          <td><%= if @pr.split_jerk.nil? then "none" else @pr.split_jerk end %></td>
        </tr>
        <tr>
          <td>Push Jerk</td>
          <td><%= if @pr.push_jerk.nil? then "none" else @pr.push_jerk end %></td>
        </tr>
        <tr>
          <td>Push Press</td>
          <td><%= if @pr.push_press.nil? then "none" else @pr.push_press end %></td>
        </tr>
        <tr>
          <td>Press</td>
          <td><%= if @pr.press.nil? then "none" else @pr.press end %></td>
        </tr>
        <tr>
          <td>Dead Lift</td>
          <td><%= if @pr.dead_lift.nil? then "none" else @pr.dead_lift end %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-2">
  </div>
</div>
