<div class="row">
  <div class="col-sm-4">
  </div>
  <div class="col-sm-4">
    <div class="well">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <h2>Sign up</h2>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :first_name,
                      required: true,
                      autofocus: true,
                      label: false,
                      placeholder: 'First name',
                      input_html: { class: 'form-control'} %>
                      <br>
          <%= f.input :last_name,
                      required: true,
                      label: false,
                      placeholder: 'Last name',
                      input_html: { class: 'form-control'} %>
                      <br>
          <%= f.input :email,
                      required: true,
                      label: false,
                      placeholder: 'Email',
                      input_html: { class: 'form-control'} %>
                      <br>
          <%= f.input :password,
                      required: true,
                      label: false,
                      placeholder: 'Password',
                      input_html: { class: 'form-control'} %>
                      <br>
          <%= f.input :password_confirmation,
                      required: true,
                      label: false,
                      placeholder: 'Password confirmation',
                      input_html: { class: 'form-control'} %>
                      <br>
          <%= f.input :program_id,
                      required: true,
                      collection: Program.all,
                      prompt: "Select your program",
                      input_html: { class: 'form-control'}  %>
                      <br>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Sign up", class: "btn btn-lg btn-warning btn-block" %>
        </div>
        <br>
        <%= render "devise/shared/links" %>
      <% end %>
    </div>
  <div class="col-sm-4">
  </div>
</div>
