<div class="row">
  <div class="page-header col-md-12">
    <h1><%= @wod.program.name %> <small><%= @wod.name %></small></h1>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <% if user_signed_in? && current_user.admin == true %>
      <div class="well">
        <%= render 'form' %>
      </div>
    <% end %>
    <div class="well">
      <% if @wod.program.name == 'Catalyst Athletics' %>
        <% JSON.parse(@wod.description).each do |part| %>
          <%= part %><br>
        <% end %>
      <% else %>
        <% @wod.description.split("\n").each do |l| %>
          <div><%= l %><br></div>
        <% end %>
      <% end %>
    </div>
    <% @statistics.each do |statistic| %>
      <div class="panel panel-default">
        <div class="panel-heading"><%= link_to statistic[1][0].user.first_name + " " + statistic[1][0].user.last_name, user_path(statistic[1][0].user) %></div>
        <ul class="list-group">
          <% statistic[1].each do |performance| %>
            <% if performance.workout.workout_type.name == "weight" %>
              <li class="list-group-item"><%= performance.workout.name %>.&nbsp;&nbsp;<%= performance.performance %>lbs</li>
            <% end %>
            <% if performance.workout.workout_type.name == "time" %>
              <li class="list-group-item"><%= performance.workout.name %>.&nbsp;&nbsp;<%= performance.performance %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
  <div class="col-md-4">
    <div class="well">
      <h3>Associated Workout Pieces <span class="small">click to edit</span></h3>
      <% @wod.workouts.sort{|w| w.name}.each do |workout| %>
        <div class="associated-workout">
          Part: <%= best_in_place_if current_user.admin == true, workout, :name, url: wod_workout_path(wod_id: @wod, id: workout.id), as: :select, collection: %w{ a b c d e } %>

          <%= link_to 'Remove', wod_workout_path(wod_id: @wod, id: workout.id), method: :delete, class: 'right' %><br>

          Description: <%= workout.description %><br>

          Associated Movement: <%= best_in_place_if current_user.admin == true, workout, :movement_id, url: wod_workout_path(wod_id: @wod, id: workout.id), as: :select, collection: @edit_movements, place_holder: 'No Movement Selected' %><br>

          Associated Workout: <%= best_in_place_if current_user.admin == true, workout, :workout_id, url: wod_workout_path(wod_id: @wod, id: workout.id), as: :select, collection: @edit_workouts, place_holder: 'No Workout Selected' %><br>

          Workout Type: <%= best_in_place_if current_user.admin == true, workout, :workout_type_id, url: wod_workout_path(wod_id: @wod.id, id: workout.id), as: :select, collection: @edit_types, place_holder: 'No Type Selected' %><br>
        </div>
        <br>
      <% end %>
    </div>
  </div>
</div>

