<div class="row">
  <div class="page-header col-md-12">
    <h1><%= @wod.program.name %> <small><%= @wod.name %></small></h1>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <% @wod.description.split("\n").each do |l| %>
      <%= l %><br>
    <% end %>
  </div>
  <div class="col-md-4">
    <p>SIDEBAR</p>
  </div>
</div>

<%= ("A".."G").to_a[0]+ "." + @wod.description.split(/[A-Z]\./)[1] %><br><br>
<%= ("A".."G").to_a[1]+ "." + @wod.description.split(/[A-Z]\./)[2] %><br><br>
<%= ("A".."G").to_a[2]+ "." + @wod.description.split(/[A-Z]\./)[3] %><br><br>
<%= ("A".."G").to_a[3]+ "." + @wod.description.split(/[A-Z]\./)[4] %><br><br>
