<div class="row">
  <div class="page-header col-md-12">
    <h1><%= @program.name %></h1>
  </div>
</div>
<div class="row">
  <div class="col-md-9">
    <% @wods.each do |w| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= link_to w.name, wod_path(w) %></h3>
        </div>
        <div class="panel-body">
          <% if @program.name == 'Catalyst Athletics' %>
            <ul>
              <% JSON.parse(w.description).each do |part| %>
                <li><%= part %></li>
              <% end %>
            </ul>
          <% else %>
            <%= w.description %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-md-3">
    <div class="page-header inverse">
      <h4>Other <%= @program.name %> members</h4>
    </div>
    <ul class="list-group">
      <% @program.users.each do |u| %>
        <li class="list-group-item"><%= link_to u.first_name + " " + u.last_name, user_path(u) %></li>
      <% end %>
    </ul>
  </div>
</div>
