<div class="row">
  <div id="left-bar" class="col-sm-4">
    <div class="well">
      <% if current_user.id == @user.id && @to_complete.size != 0 %>
        <% @to_complete.each do |w| %>
        <h2><%= w.wod.name + w.name %></h2>
        <p><%= w.description.gsub("\n", '<br>').html_safe %></p>
        <% if w.movement_id.present? %>
          <% User.find(@user).statistics.select{|s| s.workout.movement_id == w.movement_id }.present? ? @best_lift = User.find(@user).statistics.select{|s| s.workout.movement_id == w.movement_id }.map(&:performance).max : @best_lift = 0 %>
          <p>Best Lift: <%= @best_lift %></p>

          <% if @best_lift != 0 && w.description.scan(/(?<!\.|\d)(\d+)%+?/).flatten.size > 0 %>
            <table class="table table-hover pr-table">
              <thead>
                <tr>
                  <th><%= w.movement.name %> Percentages</th>
                  <th class="pr"><%= @best_lift %></th>
                </tr>
              </thead>
              <tbody class="tbody">
                <% w.description.scan(/(?<!\.|\d)(\d+)%+?/).flatten.each do |p| %>
                  <tr>
                    <td><%= p + '%' %></td>
                    <td><%= (@best_lift * (p.to_f/100)).round(1) %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>

            <button class="btn btn-warning display-movement-percentage">Show <%= w.movement.name %> Percentages</button>
            <br><br>
            <table class="table table-hover pr-table pr-table-hidden">
              <thead>
                <tr>
                  <th><%= w.movement.name %> Percentages</th>
                  <th class="pr"><%= @best_lift %></th>
                </tr>
              </thead>
              <tbody class="tbody">
              </tbody>
            </table>
          <% end %>
        <% end %>

        <%= form_tag user_statistics_path(current_user.id, workout_id: w), :method => 'post', class: "form-inline" do %>
          <%= text_field :statistic, :performance, { placeholder: 'Best Weight',
              class: "input-medium search-query form-control" } %>
          <%= submit_tag "Save", :name => nil, class: "btn btn-primary" %>
        <% end %>
      <% end %>
    <% end %>
    <% if current_user.id == @user.id %>
      <br>
      <%= link_to 'Edit Personal Records', edit_user_personal_record_path(current_user.id, current_user.id), class: 'btn btn-warning' %>
    <% end %>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Movement</th>
            <th>PR</th>
          </tr>
        </thead>
        <tbody>
          <!-- Boiling down Personal Records to an enumerable array -->
          <% @user.personal_record.serializable_hash.to_a[2..-1].each do |m| %>
            <tr class="pr-row">
              <td><%= m[0].gsub(/_/, " ").titleize %></td>
              <td class="value"><%= m[1] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div id="content" class="col-sm-8">
    <div class="row">
      <div class="dark-well">
        <div class="overflow hidden-xs">
          <button type="button" id="graph-toggle" class="btn btn-default right">Large Graphs</button>
        </div>
        <br>
        <div class="row">
          <div class="col-sm-6 col-left">
            <h3>Olympic Total <small>weight</small></h3>
            <canvas id="oly-total"></canvas>
          </div>
          <div class="col-sm-6 col-right">
            <h3>Olympic Total <small>body weight ratio</small></h3>
            <canvas id="oly-relative"></canvas>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-left">
            <h3>CrossFit Total <small>weight</small></h3>
            <canvas id="cf-total"></canvas>
          </div>
          <div class="col-sm-6 col-right">
            <h3>CrossFit Total <small>body weight ratio</small></h3>
            <canvas id="cf-relative"></canvas>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-left">
            <h3>Power Lifting Total <small>weight</small></h3>
            <canvas id="power-total"></canvas>
          </div>
          <div class="col-sm-6 col-right">
            <h3>Power Lifting Total <small>body weight ratio</small></h3>
            <canvas id="power-relative"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type='text/javascript'>
  $(document).ready(function(){
    Chart.defaults.global.responsive = true;
    Chart.defaults.global.scaleLineColor = "rgba(255,255,255,.4)";
    Chart.defaults.global.scaleFontColor = "rgba(255,255,255,.8)";
    Chart.defaults.global.scaleIntegersOnly = true;
    buildGraphs();
    $('#graph-toggle').on('click', function(e) {
      console.log('inside listener');
      e.preventDefault();
      if ($(this).html() == "Small Graphs") {
        $(this).html('Large Graphs');
      } else {
        $(this).html('Small Graphs');
      }
      $('#content').toggleClass('col-sm-8');
      $('#content').toggleClass('col-sm-12');
      $('#left-bar').toggleClass('hidden-sm');
      $('#left-bar').toggleClass('hidden-md');
      $('#left-bar').toggleClass('hidden-lg');
      olyChart.destroy();
      cfChart.destroy();
      powerChart.destroy();
      olyRelativeChart.destroy();
      cfRelativeChart.destroy();
      powerRelativeChart.destroy();
      buildGraphs();
    });
  });

  function buildGraphs(){
    var data1 = $.parseJSON('<%=  @oly_data.to_json.html_safe %>');
    var target1 = "#oly-total"
    olyChart = buildRadar(data1, target1);
    var data2 = $.parseJSON('<%=  @cf_data.to_json.html_safe %>');
    var target2 = "#cf-total"
    cfChart = buildRadar(data2, target2);
    var data3 = $.parseJSON('<%=  @power_data.to_json.html_safe %>');
    var target3 = "#power-total"
    powerChart = buildRadar(data3, target3);
    var data4 = $.parseJSON('<%=  @oly_relative_data.to_json.html_safe %>');
    var target4 = "#oly-relative"
    olyRelativeChart = buildLine(data4, target4);
    var data5 = $.parseJSON('<%=  @cf_relative_data.to_json.html_safe %>');
    var target5 = "#cf-relative"
    cfRelativeChart = buildLine(data5, target5);
    var data6 = $.parseJSON('<%=  @power_relative_data.to_json.html_safe %>');
    var target6 = "#power-relative"
    powerRelativeChart = buildLine(data6, target6);
  };

  function buildRadar(data, target){
    var ctx = $(target).get(0).getContext("2d");
    var chart = new Chart(ctx).Radar(data);
    return chart
  };

  function buildLine(data, target){
    var ctx = $(target).get(0).getContext("2d");
    var chart = new Chart(ctx).Bar(data);
    return chart
  };
</script>
