<div class="row">
  <div class="col-xs-0 col-sm-4">
  </div>
  <div class="col-xs-12 col-sm-4">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <h2>Sign in</h2>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    label: false,
                    placeholder: 'Email',
                    input_html: { class: 'form-control'} %>
                    <br>
        <%= f.input :password,
                    required: true,
                    label: false,
                    placeholder: 'Password',
                    input_html: { class: 'form-control'} %>
                    <br>
        <%= f.input :remember_me,
                    label: false,
                    wrapper_html: { class: 'checkbox' },
                    input_html: { type: 'checkbox' } ,
                    inline_label: 'Yes, remember me',
                    as: :boolean if devise_mapping.rememberable? %>
                    <br>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Sign in", class: 'btn btn-lg btn-warning btn-block' %>
      </div>
      <br>
      <%= render "devise/shared/links" %>
    <% end %>
  </div>
  <div class="col-xs-0 col-sm-4">
  </div>
</div>
